<div class="card">
    <div class="card-header" id="{{headId}}">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#{{paramId}}" aria-expanded="false" aria-controls="{{paramId}}">
                <img src="../images/{{{icon}}}.png" alt=""> {{title}}
            </button>
        </h2>
    </div>
    <div id="{{paramId}}" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
            <div>{{description}}</div>
        </div>
    </div>
</div>